<app-header/>
<div class="grid__wrapper">
    <div style="text-align:center; margin-bottom: 20px;">
        <h5>Infragistics {{title}} Functionality</h5>
    </div>
    <div style="text-align: center;">
        <div class="grid__wrapper">
            <div class="sample__header">
                <igx-grid #grid1 [data]="data" [primaryKey]="'ID'" height="400px" class="m-auto custom-tbl-max-width">
                    <igx-column field="ID" header="ID"  dataType="number" [editable]="false"></igx-column>
                    <igx-column field="Name" header="Name"  dataType="string" [editable]="true"></igx-column>
                    <igx-column field="Age" header="Age"  dataType="number" [editable]="true"></igx-column>
                </igx-grid>
            </div>
        </div>
    </div> 
</div>