  <!-- Help Center Section -->
  <div class="container my-4">
    <div class="d-flex align-items-center justify-content-between mt-4">
        <b><a routerLink="/bluetooths"><i class="ri-arrow-left-line"></i></a></b>
        <h4 class="text-center mb-4">Help Center</h4>
        <b></b>
    </div>
 <!-- Help Items Row -->
 <div class="row g-3">
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
      <div class="help-item">
        <div class="icon-wrapper icon-blue">
          <i class="ri-smartphone-line" style="font-size: 24px;"></i>
        </div>
        <div class="help-item-text">App usage problem</div>
        <i class="ri-arrow-right-s-line"></i>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
      <div class="help-item">
        <div class="icon-wrapper icon-cyan">
          <i class="ri-function-line" style="font-size: 24px;"></i>
        </div>
        <div class="help-item-text">Features</div>
        <i class="ri-arrow-right-s-line"></i>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
      <div class="help-item">
        <div class="icon-wrapper icon-purple">
          <i class="ri-tools-line" style="font-size: 24px;"></i>
        </div>
        <div class="help-item-text">Lock installation</div>
        <i class="ri-arrow-right-s-line"></i>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
      <div class="help-item">
        <div class="icon-wrapper icon-orange">
          <i class="ri-error-warning-line" style="font-size: 24px;"></i>
        </div>
        <div class="help-item-text">Normal trouble shooting</div>
        <i class="ri-arrow-right-s-line"></i>
      </div>
    </div>
  </div>
  </div>