
<div class="container text-center my-4">
    <div class="d-flex align-items-center justify-content-between mt-4">
        <b><a routerLink="/bluetooths" routerLinkActive="router-link-active" ><i class="ri-arrow-left-line"></i></a></b>
        <h5 class="text-center mb-4">BT01191918898</h5>
        <b class="pt-2"></b>
    </div>
    <!-- Battery Info -->
    <div class="d-flex flex-column justify-content-center align-items-center">
        <!-- <div class="d-flex flex-column justify-content-center align-items-center gap-2 mt-3"> -->
      <i class="ri-battery-fill text-primary" style="font-size: 24px;"></i>
      <span>88% August 7, 2020 2:55 PM</span>
    </div>

    <!-- Circle with Bluetooth -->
    <div class="circle">
      <div>
        <i class="ri-bluetooth-line"></i>
        <p class="mt-2 text-primary">Connectable</p>
      </div>
    </div>

    <!-- Bluetooth Text -->
    <div class="text-muted d-flex flex-column justify-content-center align-items-center">
      <i class="ri-bluetooth-connect-line" style="font-size: 24px;"></i> 
      <span>Bluetooth</span>
    </div>
</div>
  
  <!-- Bottom Navigation -->
  <div class="container bottom-nav d-flex justify-content-around">
    <a class="nav-link active">
        <div class="rounded-circle border border-2 border-primary">
            <i class="ri-home-5-line text-primary"></i>
        </div>
        <p class="my-0">Away mode</p>
    </a>
    <a  class="nav-link">
        <div class="rounded-circle border border-2">
            <i class="ri-notification-3-line"></i>
        </div>
        <p class="my-0">Activities</p>
    </a>
    <a class="nav-link">
        <div class="rounded-circle border border-2">
            <i class="ri-stackshare-line"></i>
        </div>
        <p class="my-0">Share</p>
    </a>
    <a class="nav-link">
        <div class="rounded-circle border border-2">
            <i class="ri-settings-3-line"></i>
        </div>
        <p class="my-0">Settings</p>
    </a>
  </div>